<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/main.css"/>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <title>Andrew Portfolio</title>
    </head>

    <body>
        <div class="frame">
            <div class="main_frame">
                <div class="left_frame">
                    <!--Left frame-->
                    <div class="left_1">
                        <div class="left_1_img">
                            <img src="images/profile.jpg" style="border-radius: 50%;">
                        </div>
                        <div class="left_1_text1"><%=user.name%></div>
                        <div class="left_1_text2"><%=user.profession%></div>
                        <div class="left_icons">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Facebook.svg" class="icon-1" />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Instagram.svg" class="icon-1" />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Twitter.svg" class="icon-1" />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Linkeding.svg" class="icon-1" />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Dribbble.svg" class="icon-1" />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Youtube.svg" class="icon-1" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="marginer"></div>
                    <div class="left_2">
                        <div class="left_2_1">
                            <div class="left_2_1_rect">
                                <div class="left_2_1_rect_text">Age:</div>
                            </div>
                            <div class="left_2_1_rect_text"><%=user.age%></div>
                        </div>
                        <div class="left_2_1">
                            <div class="left_2_1_rect">
                                <div class="left_2_1_rect_text">Residence:</div>
                            </div>
                            <div class="left_2_1_rect_text"><%=user.residence%></div>
                        </div>
                        <div class="left_2_1">
                            <div class="left_2_1_rect">
                                <div class="left_2_1_rect_text">Freelance:</div>
                            </div>
                            <div class="left_2_1_rect_text" style="color: #7EB942;">Available</div>
                        </div>
                        <div class="left_2_1">
                            <div class="left_2_1_rect">
                                <div class="left_2_1_rect_text">Address:</div>
                            </div>
                            <div class="left_2_1_rect_text"><%=user.address%></div>
                        </div>
                    </div>
                    <div class="marginer"></div>
                    <div class="left_3">
                        <div class="left_title_text">Languages</div>
                        <div class="left_3_1">
                            <div class="left_info_text"><%=user.languages[0]%></div>
                            <div class="left_info_text">100%</div>
                        </div>
                        <div class="left_level"><div class="left_level_fill"></div></div>
                        <div class="left_3_1">
                            <div class="left_info_text"><%=user.languages[1]%></div>
                            <div class="left_info_text">90%</div>
                        </div>
                        <div class="left_level"><div class="left_level_fill" style="width: 208px;"></div></div>
                        <div class="left_3_1">
                            <div class="left_info_text"><%=user.languages[2]%></div>
                            <div class="left_info_text">90%</div>
                        </div>
                        <div class="left_level"><div class="left_level_fill" style="width: 208px;"></div></div>
                        <div class="left_3_1">
                            <div class="left_info_text"><%=user.languages[3]%></div>
                            <div class="left_info_text">95%</div>
                        </div>
                        <div class="left_level"><div class="left_level_fill" style="width: 212px;"></div></div>
                    </div>
                    <div class="marginer"></div>
                    <div class="left_4">
                        <div class="left_title_text">Skills</div>
                        <div class="left_3_1">
                            <div class="left_info_text"><%=user.skills[0]%></div>
                            <div class="left_info_text">90%</div>
                        </div>
                        <div class="left_level"><div class="left_level_fill" style="width: 208px;"></div></div>
                        <div class="left_3_1">
                            <div class="left_info_text"><%=user.skills[1]%></div>
                            <div class="left_info_text">85%</div>
                        </div>
                        <div class="left_level"><div class="left_level_fill" style="width: 202px;"></div></div>
                        <div class="left_3_1">
                            <div class="left_info_text"><%=user.skills[2]%></div>
                            <div class="left_info_text">80%</div>
                        </div>
                        <div class="left_level"><div class="left_level_fill" style="width: 200px;"></div></div>
                        <div class="left_3_1">
                            <div class="left_info_text"><%=user.skills[3]%></div>
                            <div class="left_info_text">90%</div>
                        </div>
                        <div class="left_level"><div class="left_level_fill" style="width: 208px;"></div></div>
                        <div class="left_3_1">
                            <div class="left_info_text"><%=user.skills[4]%></div>
                            <div class="left_info_text">10%</div>
                        </div>
                        <div class="left_level"><div class="left_level_fill" style="width: 21px;"></div></div>
                    </div>
                    <div class="marginer"></div>
                    <div class="left_5">
                        <div class="left_title_text">Extra Skills</div>
                        <div class="left_5_1">
                            <img src="icon/extra-skills-icon.svg" class="icon-2">
                            <div class="left_info_text"><%=user.extra_skills[0]%></div>
                        </div>
                        <div class="left_5_1">
                            <img src="icon/extra-skills-icon.svg" class="icon-2">
                            <div class="left_info_text"><%=user.extra_skills[1]%></div>
                        </div>
                        <div class="left_5_1">
                            <img src="icon/extra-skills-icon.svg" class="icon-2">
                            <div class="left_info_text"><%=user.extra_skills[2]%></div>
                        </div>
                        <div class="left_5_1">
                            <img src="icon/extra-skills-icon.svg" class="icon-2">
                            <div class="left_info_text"><%=user.extra_skills[3]%></div>
                        </div>
                    </div>
                    <div class="marginer"></div>
                </div>
                <div class="midd_frame">
                    <div class="mid_top">
                        <div class="mid_rnd_grn1"></div>
                        <div class="mid_rnd_grn2"></div>
                        <div class="mid_rnd_yllw1"></div>
                        <div class="mid_rct_blue"></div>
                        <div class="mid_rnd_yllw2"></div>
                        <div class="mid_rct_yllw"></div>
                        <div class="mid_trngl_red"></div>
                        <div class="mid_top_c1">
                            <div class="mid_c1_title"><%=user.profession%> at<br><%=user.work_place%></div>
                            <div class="mid_aboutme_text"><%=user.about_me%></div>
                            <button type="button" class="btn_hire_me" onclick="alert('I am currently busy!')">HIRE ME
                                <img src="btn_icon/vector.svg" style="width: 12px; height: 12px; margin-left: 12px;"/>
                            </button>
                        </div>
                        <div class="mid_top_c2">
                            <img src="images/my-img.png" style="width: 243px; height: 440px;"/>
                        </div>
                        
                        
                    </div>
                    <!--My Services-->
                    <div class="mid_2nd">
                        <div class="mid_title">My Services</div>
                        <div class="left_info_text" style="width: 420px; margin: 25px 0 50px 0; text-align: center;"><%=user.service_desc%></div>
                        <div class="serv_con">
                            <div class="serv_type">
                                <img src="box_images/coding.svg" class="serv_icon"/>
                                <div class="left_title_text"><%=user.title[0]%></div>
                                <div class="left_info_text" style="margin-top: 15px;"><%=user.desc[0]%></div>
                            </div>
                            <div class="serv_type">
                                <img src="box_images/design.svg" class="serv_icon"/>
                                <div class="left_title_text"><%=user.title[1]%></div>
                                <div class="left_info_text" style="margin-top: 15px;"><%=user.desc[1]%></div>
                            </div>
                            <div class="serv_type">
                                <img src="box_images/sound.svg" class="serv_icon"/>
                                <div class="left_title_text"><%=user.title[2]%></div>
                                <div class="left_info_text" style="margin-top: 15px;"><%=user.desc[2]%></div>
                            </div>
                        </div>
                        <div class="serv_con">
                            <div class="serv_type">
                                <img src="box_images/game.svg" class="serv_icon"/>
                                <div class="left_title_text"><%=user.title[3]%></div>
                                <div class="left_info_text" style="margin-top: 15px;"><%=user.desc[3]%></div>
                            </div>
                            <div class="serv_type">
                                <img src="box_images/photo.svg" class="serv_icon"/>
                                <div class="left_title_text"><%=user.title[4]%></div>
                                <div class="left_info_text" style="margin-top: 15px;"><%=user.desc[4]%></div>
                            </div>
                            <div class="serv_type">
                                <img src="box_images/add.png" class="serv_icon"/>
                                <div class="left_title_text"><%=user.title[5]%></div>
                                <div class="left_info_text" style="margin-top: 15px;"><%=user.desc[5]%></div>
                                <a class="mid_link_href" href="">ORDER NOW
                                <img src="box_images/arrow.svg" class="icon-1" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right_frame">
                    <a class="link_href" href=""><img src="menu_icon/dark_mode.svg" class="mode_icon"/></a>
                    <a class="link_href" href="">
                        <div class="menu_icon_back">
                            <img src="menu_icon/home.svg" class="menu_icon"/>
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="menu_icon_back">
                            <img src="menu_icon/servs.svg" class="menu_icon"/>
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="menu_icon_back">
                            <img src="menu_icon/icon_cv.svg" class="menu_icon"/>
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="menu_icon_back">
                            <img src="menu_icon/portfolio.svg" class="menu_icon"/>
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="menu_icon_back">
                            <img src="menu_icon/blog.svg" class="menu_icon"/>
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="menu_icon_back">
                            <img src="menu_icon/contact.svg" class="menu_icon"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>        
    </body>
</html>